.chat_actions_list {
    position: relative;
    list-style: none;
    height: fit-content;
    width: 90%;
    left: 50%;
    top: 50%;
    background-color: white;
    box-shadow: 0px 4px 15px 0px var(--color_active);
    border-radius: 10px;
    transform: translate(-50%, -1000%);
    opacity: 0;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out;
}

.chat_actions_list_open{
    transform: translate(-50%, -50%);
    opacity: 1;
}

.chat_actions_name {
    text-align: center;
    width: 100%;
    padding: 19px 0 10px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.chat_actions_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #BABABA;
    height: 42px;
    padding-left: 14px;
}

.chat_actions_item_active{
    border-bottom: 1px solid var(--color_active);
    background-color: var(--color_active);
}

.chat_actions_item_active p{
    color: white !important;
}

.chat_actions_item_active path{
    fill: white;
}

.chat_actions_item:last-child {
    border: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat_actions_item_sign {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-left: 8px;
}