.search_category_box {
  display: flex;
  width: var(--max-width);
  margin-top: 7px;
  animation: main 0.4s forwards;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0 6vw 20px 6vw;
  scrollbar-width: none;
}

.search_category_box::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.search_category_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  height: 33px;
  background: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  padding: 0 16px 0 16px;
  margin-right: 4px;
  color: black;
  white-space: nowrap;
  transition: 0.3s background-color ease-in-out;
}

.active_btn {
  background-color: #7e52ee;
  color: white;
}

.global_search_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 60px 0;
  width: var(--max-width);
}

.star_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 18px 20px;
}

.star_avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.star_nickname {
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: black;
}

.star_role {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #bababa;
}

.set_margin {
  margin-bottom: 75%;
}

.filter_box {
  width: var(--max-width);
  height: 50px;
}

.filter_button {
  z-index: 20 !important;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 33px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
}

.filter_sign {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #726f6f;
  margin: 0 7px;
}

.filters_list {
  position: relative;
  z-index: 10 !important;
  margin-top: -25px;
  width: calc(100% - 40px);
  background: #ffffff;
  border: 1px solid #bababa;
  border-radius: 10px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.filters_list_open {
  opacity: 1;
  height: 300px;
}

.filters_element {
  min-height: 55px;
  max-height: fit-content;
  width: var(--max-width);
  border-bottom: 1px solid #bababa;
}

.filter_name {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.filters_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.btn_reset {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  height: 32px;
}

.btn_ready {
  padding: 0 10px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  width: 90px;
  height: 32px;
  background-image: url('../../../img/backBTN.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 65px;
  color: white;
}

.filter_direction {
  width: 100%;
  height: 200px;
}

.direction_list {
  list-style: none;
  width: 100%;
}

.list_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100%;
}

.filter_opened {
  width: 100%;
  display: flex;
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.filter_tag {
  height: 300px !important;
  max-height: 300px;
  overflow-y: scroll;
  margin: 5px 0 15px 0;
  opacity: 1;
}

.filter_city {
  height: 250px !important;
  max-height: 250px;
  overflow-y: scroll;
  margin: 5px 0 15px 0;
  opacity: 1;
}

.filter_form {
  height: 100px !important;
  margin: 5px 0 15px 0;
  opacity: 1;
}

.filter_format {
  height: 50px !important;
  margin: 5px 0 15px 0;
  opacity: 1;
}

.filters_top {
  width: 100% !important;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.list_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: fit-content;
}

.list_el_sign {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: black;
  margin-left: 60px;
}

.filter_checkbox {
  margin-right: 30px;
  width: 16px;
  height: 16px;
  border: 1px solid #bababa;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.filter_checkbox:checked {
  border: 1px solid var(--color_active);
  background-color: var(--color_active);
}

.filter_name_container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.filter_input {
  margin-right: 25px;
  color: black;
  width: 150px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border: 0;
  outline: none;
}

.filter_input::placeholder {
  color: #bababa;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.filter_fit {
  height: fit-content !important;
}

.count_filters {
  position: absolute;
  right: 10px;
  background-color: #7e52ee;
  border: #7e52ee solid 1px;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1px 5px;
}

#count_filters_main {
  position: relative;
  margin-left: 15px;
}

.global_tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--max-width);
  padding: 7px 20px;
  border-bottom: 1px solid #bababa;
}

.global_tag_box {
  display: flex;
  flex-direction: row;
  background-image: url('../../../img/tag.jpg');
  background-size: cover;
  border: none;
  border-radius: 29px;
  padding: 5px 14px;
  width: fit-content;
  margin: 0 4px 4px 0;
}

.global_tag {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin-right: 4px;
}

.triangle_left {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transition: all 0.2s ease-in;
}

.triangle_bottom {
  transform: rotate(-90deg);
}

.triangle_active {
  border-right: 14px solid var(--color_active);
}

.triangle_none_active {
  border-right: 14px solid #bababa;
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
