.chat_actions_container {
    position: fixed;
    list-style: none;
    height: fit-content;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 4px 15px 0px #9A7BE9;
    border-radius: 10px;
    z-index: 200;
    transition: all .3s ease-out;
}

.chat_actions_container_active {
    top: 50%;
}

.chat_actions_container_none_active {
    top: -100%;
}

.chat_actions_sign {
    text-align: center;
    padding: 19px 0 10px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.chat_action_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #BABABA;
    height: 42px;
    padding-left: 14px;
    transition: background-color 0.2s ease-in-out;
}

.chat_action_box_active {
    background-color: #A488EC;
    border: none !important;
}

.chat_action_sign {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-left: 8px;
}

.chat_actions_container li:last-child {
    border: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat_actions_container li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat_action_user_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_action_avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 18px 0 6px 0;
}

.chat_action_user_nickname{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black; 
    margin-bottom: 10px;
}