/*flex+column*/
.comments_box,
.comment_user_sign {
  display: flex;
  flex-direction: column;
}

/*border 50%*/
.user_comment_avatar_box,
.avatar_picture {
  border-radius: 50%;
}

/*font 15*/
.user_comment,
.comment_user_nickname {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.comments_container {
  width: 100%;
  animation: open 0.5s ease-in-out;
  overflow-y: scroll;
  position: fixed;
  background-color: white;
  z-index: 10;
  height: 100%;
}

.head_comments_container {
  z-index: 4;
  display: flex;
  align-items: center;
  position: fixed;
  height: 50px;
  width: var(--max-width);
  background-color: white;
  transition: opacity 0.4s ease;
}

.close_comments {
  color: var(--color_gray) !important;
  font-size: 20px;
  margin-left: 26px;
}

.comments_name {
  font-size: 26px;
  font-weight: 300;
}

.line {
  background-color: white;
  width: var(--max-width);
  height: 0;
  border: var(--border1) var(--color_gray);
  transform: rotate(0.15deg);
}

.comments_box {
  background-color: white;
  width: var(--max-width);
  height: fit-content;
  min-height: 42%;
  padding: 10px 20px 55px 20px;
}

.hidden {
  opacity: 0;
}

.user_comment_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.user_comment_avatar_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: var(--border1) var(--color_gray);
}

.avatar_picture {
  width: var(--max-width);
  height: 100%;
}

.comment_user_sign {
  margin-left: 5px;
  height: fit-content;
  max-width: 80%;
}

.comment_user_nickname {
  margin: 2px 0 1px 0;
}

.comment_sign {
  font-size: 12px;
}

@keyframes open {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .swiper-wrapper,
.swiper-slide {
  width: var(--max-width);
  height: 100vh;
}

.swipe_background {
  width: var(--max-width);
  height: 100%;
  background-size: cover;
  background-color: #7e52ee;
  background-repeat: repeat;
} */
