.event_sign {
  display: flex;
  flex-direction: column;
  margin: 13px 0;
  max-height: fit-content;
  position: relative;
}

.event_text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
  max-width: 80%;
}

.event_one_item {
  max-width: 90%;
  width: fit-content;
  max-height: 600px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.event_tags_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.event_category {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: black;
  margin: 5px 5px 0 0;
  text-decoration: underline;
}

.actions_icon {
  position: absolute;
  top: -45px;
  right: 35px;
}

.actions_container {
  position: absolute;
  top: -35px;
  right: 35px;
  width: 295px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #bababa;
  background: #fff;
  overflow: hidden;
}

.action_div {
  display: flex;
  padding-left: 10px;
  align-items: center;
  height: 40px;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.actions_container .action_div:nth-child(2) {
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
}

.actions_container .action_div:nth-child(3) {
  border-bottom: 1px solid #bababa;
}

.action_is_selected {
  background-color: #bababa !important;
  color: #fff !important;
}
