/*Flex+column*/
.head_container,
.filter_post_box,
.filter_post_item,
.user_history_box {
  display: flex;
  flex-direction: column;
}

.head_container {
  animation: main 0.4s forwards;
  width: var(--max-width);
  max-height: 240px;
  background-color: white;
  z-index: 1;
}

.logo_box {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 18px;
}

.logo_item {
  display: flex;
  flex-direction: row;
  margin: 51px 0 0 27px;
}

.arrow_box {
  position: relative;
  height: fit-content;
  width: 20px;
  height: 20px;
  margin: 10px 0 0 -100px;
}

.arrow_right {
  position: absolute;
  display: block;
  background-color: black;
  width: 65%;
  height: 3px;
  transform: rotate(-50deg);
  border-radius: 5px;
  left: 0;
  top: 6px;
  transition: all 0.3s ease-in-out;
}

.arrow_left {
  position: absolute;
  display: block;
  background-color: black;
  width: 65%;
  height: 3px;
  transform: rotate(50deg);
  border-radius: 5px;
  right: 0;
  top: 6px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.arrow_open .arrow_right {
  transform: rotate(50deg);
}

.arrow_open .arrow_left {
  transform: rotate(-50deg);
}

.filter_newsware_box {
  display: block;
  position: absolute;
  text-align: center;
  list-style: none;
  width: 150px;
  height: 0;
  opacity: 0;
  left: 27px;
  top: 90px;
  border-radius: 10px;
  border: 1px solid #BABABA;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.filter_newsware_box_open {
  height: 175px;
  opacity: 1;
}

.filter_newsware_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #BABABA;
}

.filter_newsware_box li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.filter_newsware_box li:last-child {
  border: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search {
  margin: 54px 25px 0 0;
  width: 26px;
  height: 26px;
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.history_container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 109px;
  scrollbar-width: none;
}

.history_container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.user_history_box {
  margin-left: 10px;
  margin-right: 10px;
}

.user_history_add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.line_plus_horizontal {
  width: 35px;
  border: 1px solid #ffffff;
  z-index: 0;
}

.line_plus_vertical {
  position: absolute;
  width: 35px;
  border: 1px solid #ffffff;
  transform: rotate(-90deg);
  z-index: 10;
}

.line {
  width: var(--max-width);
  height: 0;
  border: var(--border1) var(--color_gray);
  transform: rotate(0.15deg);
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}