.newsware_item {
    display: flex;
    flex-direction: column;
    border: var(--border1) white;
    padding-left: 31px;
    background-color: white !important;
    border-radius: 10px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.open_newsware_item {
    padding-top: 40px;
    margin-bottom: 0 !important;
}

.author_newsware_item {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.avatar_author_newsware_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.avatar_picture {
    width: var(--max-width);
    height: 100%;
    border-radius: 50%;
}

.author_nick {
    display: flex;
    flex-direction: column;
    margin: 4px 0 0 8px;
}

.nickname {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.geolocation {
    color: var(--color_gray);
    margin: 2px 0 0 -2px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.author_open_newsware_item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar_author_open_newsware_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}


.add_friend_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgb(147, 118, 221);
    background: linear-gradient(114deg, rgba(147, 118, 221, 1) 19%, rgba(101, 41, 255, 1) 88%);
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin: 5px;
}

.remove_friend_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin: 5px;
}

.newsware_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 8px;
    color: black;
}

.newsware_icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.newsware_icon_animation {
    animation: postIconAnimation 0.6s ease-out;
    animation-fill-mode: forwards;
}

.newsware_icon_animation path {
    stroke: var(--color_active);
    fill: var(--color_active);
}

.newsware_icon_active path {
    stroke: var(--color_active);
    fill: var(--color_active);
}

.newsware_count {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.newsware_time {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #bababa;
    margin-bottom: 10px;
}

.tags_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
}

.tag {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background-image: url('../img/backBTN.jpg');
    background-size: cover;
    border: none;
    border-radius: 29px;
    padding: 5px 14px;
    margin: 0 4px 4px 0;
}

@keyframes postIconAnimation {
    25% {
        transform: translateY(-4px);
        z-index: 2;
    }

    50% {
        transform: rotate(0.04turn);
        z-index: 2;
    }

    75% {
        transform: rotate(-0.04turn);
        z-index: 2;
    }

    100% {
        transform: none;
    }
}