.search_container {
  display: flex;
  width: var(--max-width);
  justify-content: flex-end;
}

.search_box {
  display: flex;
  align-items: center;
  height: 33px;
  width: var(--max-width);
  background-color: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  margin: 55px 20px 0 20px;
  overflow: hidden;
  animation: search 0.4s linear;
  padding-left: 20px;
}

.search_box input {
  width: var(--max-width);
  height: 100%;
  border: 0;
  color: black !important;
}

.search_box input[placeholder] {
  color: var(--color_dark_gray);
}

.search_box input:focus {
  outline: none;
}

.search_input {
  margin: 0 7px 0 5px;
}

.search_filter {
  display: flex;
  width: var(--max-width);
  margin-top: 7px;
  animation: main 0.4s forwards;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 6vw;
  scrollbar-width: none;
}

.search_filter::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.search_filter_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  height: 33px;
  background: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  padding: 0 16px 0 16px;
  margin-right: 4px;
  color: black;
  white-space: nowrap;
}

.active_btn {
  background-color: #7e52ee;
  color: white;
}

.global_search_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 60px 0;
  width: var(--max-width);
}

.set_margin {
  margin-bottom: 75%;
}

.filter_container {
  width: var(--max-width);
  height: 50px;
}

.filter_button {
  z-index: 20 !important;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 33px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
}

.filter_sign {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #726f6f;
  margin: 0 7px;
}

.filters_list {
  position: relative;
  z-index: 10 !important;
  margin-top: -25px;
  width: calc(100% - 40px);
  height: fit-content;
  background: #ffffff;
  border: 1px solid #bababa;
  border-radius: 10px;
}

.filters_element {
  min-height: 55px;
  max-height: fit-content;
  width: var(--max-width);
  border-bottom: 1px solid #bababa;
}

.filter_name {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.filters_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.btn_reset {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  height: 32px;
}

.btn_ready {
  padding: 0 10px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  width: 90px;
  height: 32px;
  background-image: url('../img/backBTN.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 65px;
  color: white;
}

.filter_direction {
  width: 100%;
  height: 200px;
}

.direction_list {
  list-style: none;
  width: 100%;
}

.list_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100%;
}

.filter_opened {
  width: 100%;
  display: flex;
  position: relative;
  height: fit-content;
  margin-bottom: 15px;
  margin-top: 5px;
}

#filter_tag {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

#filter_city {
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

#filter_form,
#filter_format {
  height: fit-content !important;
}

.filters_top {
  width: 100% !important;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.list_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: fit-content;
}

.list_el_sign {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: black;
  margin-left: 60px;
}

.filter_checkbox {
  margin-right: 50px;
}

.filter_name_container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.filter_input {
  margin-right: 25px;
  color: black;
  width: 150px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border: 0;
  outline: none;
}

.filter_input::placeholder {
  color: #bababa;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.filter_fit {
  height: fit-content !important;
}

.count_filters {
  position: absolute;
  right: 10px;
  background-color: #7e52ee;
  border: #7e52ee solid 1px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1px 5px;
  margin-bottom: 2px;
}

.triangleBottom,
.triangleBottomColor,
.triangleLeft,
.triangleLeftColor {
  position: absolute;
  right: 50px;
}

#count_filters_main {
  position: relative;
  margin-left: 15px;
}

.global_tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--max-width);
  padding: 7px 20px;
}

.global_tag_box {
  display: flex;
  flex-direction: row;
  background-image: url('../img/tag.jpg');
  background-size: cover;
  border: none;
  border-radius: 29px;
  padding: 5px 14px;
  width: fit-content;
  margin: 0 4px 4px 0;
}

.global_tag {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin-right: 4px;
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes search {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: var(--max-width);
  }
}