.star {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
}

.star_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.star_nick {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 5px auto;
}

.star_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 100px;
}

.star_sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.star_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
