.iam {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 250px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.iam_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iam_header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.iam_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 300px;
  height: 45px;
  filter: drop-shadow(0px 4px 4px rgba(69, 7, 151, 0.35));
  background: #ffffff;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.active {
  background-image: url('../img/backInputColor.jpg');
  background-size: cover;
  color: #ffffff;
}

.iam_next {
  margin-top: 20px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  width: 121px;
  border-radius: 100px;
  background-image: url('../img/backBTN.jpg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0;
  border-radius: 10px;
  color: white;
}
