.preview {
  &_box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 56px);
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &_open {
      animation: openPreview 0.4s ease-in-out forwards;
    }

    &_close {
      animation: closePreview 0.5s ease-in-out forwards;
    }
  }

  &_about {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    padding: 0 20px;
  }

  &_avatar {
    position: absolute;
    width: 191px;
    height: 191px;
    border-radius: 50%;
    border: 2px solid white;
    top: 6em;
  }

  &_nickname {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;

    &_box {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      background-color: white;
      padding: 15px 20px;
      min-width: 180px;
      top: 19em;
    }
  }

  &_role {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #bababa;
  }

  &_close {
    position: absolute;
    bottom: 40px;
  }

  &_status {
    &_container {
      position: absolute;
      background-color: white;
      width: 80%;
      top: 25em;
      padding: 20px 0;
      border-radius: 25px;
    }

    &_box {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_count {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: black;
    }

    &_sign {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #bababa;
      margin-bottom: 20px;
    }
  }
}

@keyframes openPreview {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes closePreview {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
