.chat_actions {
  &_container {
    position: fixed;
    list-style: none;
    height: fit-content;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 4px 15px 0px #9a7be9;
    border-radius: 10px;
    z-index: 200;
    transition: all 0.3s ease-out;

    &_none_active {
      top: -100%;
    }

    li:last-child {
      border: none !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    li:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &_sign {
    text-align: center;
    padding: 19px 0 10px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
  }
}

.chat_action {
  &_sign {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-left: 8px;
  }

  &_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #bababa;
    height: 42px;
    padding-left: 14px;
    transition: background-color 0.2s ease-in-out;
  }

  &_user {
    &_box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_nickname {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: black;
      margin-bottom: 10px;
    }
  }

  &_avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 18px 0 6px 0;
  }
}
