.dialog_container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding-top: 120px;
  padding: 0 12px 80px 12px;
  background: rgb(175, 144, 255);
  background: linear-gradient(114deg, rgba(175, 144, 255, 1) 18%, rgba(126, 82, 238, 1) 88%);
  background-size: cover;
  animation: open 0.5s ease-in-out;
}

.dialog_header {
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.dialog_editor_msgs_header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.count_editor_msgs {
  position: absolute;
  left: 15%;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #bababa;
}

.editor_msg_items {
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 0;
  list-style: none;
  width: 150px;
}

.dialog_back_arrow {
  position: absolute;
  left: 23px;
  top: 31px;
}

.dialog_user_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.dialog_avatar_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.dialog_avatar_picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon_online {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.dialog_nickname {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nickname_bottom_sign {
  color: #bababa;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.dialog_add_user {
  position: absolute;
  right: 32px;
  top: 31px;
}

.dialog_message_box {
  position: relative;
  color: black;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  max-width: 270px;
  min-width: 100px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
  margin-top: auto;
  margin-top: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  ._shake {
    color: white !important;
    background-color: #ac8bff;
    animation: shake 0.3s infinite;
    box-shadow: 2px 0px 14px 0px white !important;
  }
}

.first_unread_msg {
  position: relative;
  text-align: center;
  background-color: #bababa;
  border-radius: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  padding: 5px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  margin-top: 10px;
}

.your_message {
  margin-left: auto;
  margin-right: 12px;
}

.user_message {
  margin-left: 12px;
  margin-right: auto;
}

.dialog_message_text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  word-break: break-word;
}

.dialog_message_box::after {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 1px 3px;
  background-color: #bababa;
  content: attr(data-time);
  color: white;
  border-radius: 10px;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  bottom: -5px;
  right: -5px;
}

.companion_avatar {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -13px;
  left: -13px;
}

.start_dialog {
  position: absolute;
  color: white;
  top: 120px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spam_btn {
  position: fixed;
  z-index: 10;
  background-color: #f03939;
  color: white;
  border: none;
  height: 33px;
  width: 115px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  border-radius: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.spam_btn:active {
  height: 30px;
  width: 105px;
  filter: none;
}

.dialog_reply_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 120px;
}

.dialog_forwarded_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
}

.dialog_reply_box,
.dialog_forwarded_box {
  position: relative;
  margin-bottom: 5px;
}

.dialog_reply_sign,
.dialog_forwarded_sign {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--color_active);
}

.dialog_reply_compinion_nickname,
.dialog_forwarded_compinion_nickname {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #888;
  text-decoration: underline;
}

.dialog_reply_message,
.dialog_forwarded_message {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  color: #bababa;
}

.dialog_reply_icon,
.dialog_forwarded_icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.structured_message_box {
  position: fixed;
  min-height: 28px;
  width: 85vw;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 5px 16px;
  bottom: 60px;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.many_items {
  flex-direction: row;
  align-items: center;
}

.one_item {
  flex-direction: column;
}

.many_items .structured_message_icon {
  top: 5px !important;
}

.many_items .dialog_reply_sign {
  margin-left: 5px;
}

.structured_message_icon {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 12px;
}

@keyframes open {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scrollMsg {
  0% {
    transform: translate(0, 0);
    box-shadow: none;
  }

  50% {
    transform: translate(2px, 4px);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: translate(0, 0);
    box-shadow: none;
  }
}
