.foot {
  &_container {
    position: fixed;
    bottom: 0;
    min-height: 56px;
    height: fit-content;
    width: var(--max-width);
    background-color: white;
    z-index: 80;
  }

  &_notview {
    pointer-events: none;
    filter: blur(5px);
  }
}

.nav_icon_items {
  width: var(--max-width);
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 8px;
  }
}

.footer_nav_sign {
  color: #bababa;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;

  &_active {
    color: var(--color_active) !important;
  }
}

.icon_target {
  color: var(--color_active) !important;

  svg path {
    fill: var(--color_active) !important;
  }
}

.nav_comment_items {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--max-width);
  list-style: none;
}

.user_comment {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  min-height: 40px;
  width: 75vw;
  max-height: 20vh;
  height: fit-content;
  border: 0;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;

  ._input {
    width: 65%;
    height: 100%;
    padding: 0 16px 0 16px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    &:focus {
      border: 0;
      outline: none;
    }
  }
}

.chat_elements_box {
  position: fixed;
  right: 35px;
  margin: auto 0;
}

.block_user_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &_sign {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #cb2323;
    margin-left: 6px;
  }
}

.editor_msgs_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
  height: 56px;
  background-color: white;

  ._btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 121px;
    height: 33px;
    border: none;
    border-radius: 15px;
    padding: 0 8px;
    border: 1px solid #bababa;
    background-color: white;

    ._sign {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: black;
    }
  }
}
